<!DOCTYPE HTML>
<html lang="en" class="no-js">
	<head>
		<title>QUESTify your photo!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/assets/css/button_styles.css" />
		<link rel="stylesheet" href="static/assets/css/component.css" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<!--[if lte IE 9]><link rel="stylesheet" href="static/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="static/assets/css/ie8.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    
    <!-- remove this if you use Modernizr -->
    <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>
	</head>
	<body class="is-loading">
		

		<!-- Wrapper -->
			<div id="wrapper">
				
				<div id="gap"></div>
				<img src="static/images/logo.png" height="110em" />
				<h1>QUESTify Filter</h1>
				
				<div id="gap"></div>

				<!-- Main -->
					<section id="main">
						<header>
							<p>Upload a square-shaped image or let us pull your Facebook profile photo to apply a filter for QUEST Recruiting!</p>
							<hr>
		          <br />
		            
		          <form action="questify" method="post" enctype="multipart/form-data">
		            
		  					<input type="file" class="inputfile inputfile-1" name="imagefile" id="image" data-multiple-caption="{count} files selected" multiple />
		  					<label for="image"><i class="fa fa-upload"></i> <span>Upload</span></label><br />
		            
		            <input type="submit" class="inputfile inputfile-1" id="submit" value="Questify!" class="button" />
		            <label for="submit"><span>QUESTify!</span></label><br />
								
							</form>
							
							<div id="desktop">
								<a href="/login">
								<input type="submit" class="inputfile inputfile-2" id="submit" value="Questify!" class="button" />
								<label for="submit"><i class="fa fa-facebook"></i> <span>Use my Facebook photo!</span></label><br />
								</a>
							</div>
							<div id="mobile">
								<a href="/login">
								<input type="submit" class="inputfile inputfile-2" id="submit" value="Questify!" class="button" />
								<label for="submit"><i class="fa fa-facebook"></i> <span>Use Facebook!</span></label><br />
								</a>
							</div>
							
						</header>
					</section>
				
				
				<!-- Footer -->
				<footer id="footer">
				</footer>

			</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="static/assets/js/respond.min.js"></script><![endif]-->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>
			<script src="static/assets/js/custom-file-input.js"></script>

	</body>
</html>